/*Menu Styles*/
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 200px;
    background-color: #333333;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

ul li a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.sub-menu-1,
.sub-menu-2,
.sub-menu-3,
.sub-menu-4,
.sub-menu-5,
.sub-menu-6,
.sub-menu-7,
.sub-menu-8,
.sub-menu-9,
.sub-menu-10 {
    display: none;
}

.sub-menu-2,
.sub-menu-2 li {
    width: 250px;
}

/*Menu Events*/
ul li a:hover {
    background-color: green;
}

ul li:hover .sub-menu-1 {
    display: block;
    margin-left: -15px;
}

ul li:hover .sub-menu-1 ul {
    display: block;
}

.show-sub-menu-2:hover .sub-menu-2,
.show-sub-menu-3:hover .sub-menu-3,
.show-sub-menu-4:hover .sub-menu-4,
.show-sub-menu-5:hover .sub-menu-5,
.show-sub-menu-6:hover .sub-menu-6,
.show-sub-menu-7:hover .sub-menu-7,
.show-sub-menu-8:hover .sub-menu-8,
.show-sub-menu-9:hover .sub-menu-9,
.show-sub-menu-10:hover .sub-menu-10 {
    display: block;
    position: absolute;
    margin-top: -40px;
}

.show-sub-menu-2:hover .sub-menu-2 {
    margin-left: 200px;
}

.show-sub-menu-3:hover .sub-menu-3,
.show-sub-menu-4:hover .sub-menu-4,
.show-sub-menu-5:hover .sub-menu-5,
.show-sub-menu-6:hover .sub-menu-6,
.show-sub-menu-7:hover .sub-menu-7,
.show-sub-menu-8:hover .sub-menu-8,
.show-sub-menu-9:hover .sub-menu-9,
.show-sub-menu-10:hover .sub-menu-10 {
    margin-left: 250px;
}